html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 40px;
}

.logo {
  width: 145px;
  height: 40px;
}

.menubar i {
  font-size: 30px;
}

.nav {
  display: none;
}

.about-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.about-title h1 {
  font-size: 32px;
  margin: 0 0 10px;
  color: #8d2424;
  text-align: center;
}

.paragraph {
  padding-top: 80px;
}

.sub-title {
  color: #c23b3b;
  display: inline;
  font-size: 19.2px;
  font-weight: 500;
  line-height: 33.6px;
  text-align: left;
}

.content {
  color: #515151;
  display: inline;
  font-size: 17.6px;
  font-weight: 500;
  line-height: 30.8px;
  text-align: center;
  padding-top: 30px;
}

/* fruit */

.fruit-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  background-color: #f6f2e5;
  gap: 5px;
}

.fruit-pic {
  width: 100%;
}

.main-container {
  padding: 30px 0px;
  width: 90vw;
  margin: 0 auto;
  width: 90%;
}

.main-title {
  margin: 0 auto 30px;
  color: #c23b3b;
  display: inline;
  font-size: 19.2px;
  font-weight: 500;
  line-height: 33.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-card {
  display: flex;
  flex-direction: column;
}

.card-detail {
  display: flex;
  flex-direction: column;
}

.card-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 106px;
  height: 106px;
  margin: 0 0 10px;
}

.card-title {
  color: #8d2424;
  display: inline;
  font-size: 19.2px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
}

.card-content {
  color: #515151;
  display: inline;
  font-size: 17.6px;
  font-weight: 500;
  line-height: 30.8px;
  text-align: left;
}

.intro-container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.drink {
  width: 100%;
  margin: 0 0 10px;
}

.sub-into-title {
  color: #c23b3b;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 30px;
  margin: 0 0 30px;
  text-align: left;
  padding-top: 20px;
}

.sub-intro-content {
  display: inline;
  color: #515151;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .about-container {
    width: 100%;
    margin: 0 auto;
  }
  .about-title {
    font-size: 32px;
  }
  .paragraph {
    max-width: 70%;
    margin: 0 auto;
    font-size: 20px;
  }
  .sub-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 42px;
  }
  .fruit-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    gap: 10px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .main-title {
    width: 80vw;
    font-size: 24px;
    font-weight: 500;
    color: #c23b3b;
    line-height: 42px;
    text-align: center;
  }
  .main-card {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .intro-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 30px;
  }
  .intro-image {
    width: 40%;
  }
  .sub-intro-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .sub-into-title {
    padding: 0;
  }
  .sub-intro-content {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 993px) {
  .menubar {
    display: none;
  }
  .nav {
    display: unset;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .nav a {
    text-decoration: none;
    color: black;
  }
  .sub-title {
    font-size: 18px;
    line-height: 31.5px;
  }
  .content {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
  }
  .about-container {
    width: 100%;
    margin: 0 auto;
  }
}
